.href:link{
    color:skyblue;
}
.href:visited{
    color:rgb(5, 165, 229);
}
.href:hover{
    color:rgba(255, 0, 0, 0.936);
}
.href:active{
    color:rgba(255, 0, 0, 0.608);
}

.href2:link{
    color:red;
}
.href2:visited{
    color:rgb(225, 229, 5);
}
.href2:hover{
    color:skyblue;
}
.href2:active{
    color:rgb(5, 165, 229);
}

.href3:link {
    background-color:white;
}
.href3:visited {
    background-color:rgb(221, 221, 221);
}
.href3:hover{
    background-color:rgb(200, 200, 200);
}
.href3:active{
    background-color:rgb(234, 234, 234);
}


audio {
    background-color: white;
}
html{
    background-color:rgb(254, 254, 254);
}
button  {
    border-style:none;
    border-radius: 20px;
}
