
.href3:link {
    background-color:white;
}
.href3:visited {
    background-color:rgb(221, 221, 221);
}
.href3:hover{
    background-color:rgb(200, 200, 200);
}
.href3:active{
    background-color:rgb(234, 234, 234);
}

.img:hover {
    box-shadow: 3px 3px 10px rgb(53, 53, 53);
}

audio {
    background-color: white;
}
html{
    background-color:rgb(254, 254, 254);
}
img {
    border-radius: 30px;
}
button  {
    border-style:none;
    border-radius: 20px;
}
input {
    border-radius: 20px;
    background-color:rgb(221, 221, 221);
}
